@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

$font-main: "Pretendard", sans-serif;
$font-weight-medium: 500;

// TITLE
// 약 33.5px max
@mixin title {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.8vw;
}

@mixin title2 {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.979vw;
  letter-spacing: -0.04em;
}

// H1
// 약 26px max
@mixin h1 {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.4vw;
}

// H2
// 약 23px max
@mixin h2 {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.2vw;
  letter-spacing: -0.04em;
  opacity: 0.8;
}

// 본문
// 약 20px max
@mixin body {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1vw;
}

// SUB
// 약 17px max
@mixin sub {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 0.9vw;
}

@mixin bodyText {
  font-size: 1.04vw;
  font-family: "Pretendard";
}

@mixin infoText {
  font-size: 0.73vw;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.03em;
  line-height: 1.35;
}

$blue: #0051ff;

.concept {
  position: relative;
  height: 100vh;
  color: #fff;
  box-sizing: border-box;
  
  .graphic {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;

    svg {
      width: 120%;
      height: 120%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .orbit-text {
      width: 9.58vw;
      height: auto;
      transform-origin: 0 0;
    }
  }

  .txt {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 1vw;
    pointer-events: none;

    &-dot {
      width: 0.52vw;
      height: 0.52vw;
      background-color: $blue;
      border-radius: 50%;
      margin: 0;
    }

    p {
      margin: 0;
      font-size: 0.72vw;
      line-height: 1.6;
      letter-spacing: -0.06em;
      margin-left: -0.5vw;
    }

    &--secondary {
      flex-direction: row-reverse;

      p {
        margin-left: 0;
        margin-right: -0.5vw;
        text-align: right;
      }
    }
  }

  .txt-wrap {
    position: relative;
    display: flex;
    width: 87.38vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 75.4vh;
    z-index: 999;

    .logo {
      padding-top: 10.4vh;

      svg {
        width: 21.6vw;
        height: auto;
      }
    }
  }

  .description {
    .title {
      display: flex;

      div {
        @include title2;
      }

      .sub-title {
        @include h2;
        margin: 0;
        padding-top: 1.5vh;
        padding-left: 0.8vw;
        letter-spacing: -0.08em;
      }
    }

    .desc-text {
      @include body;
      padding-top: 1.5vh;
      line-height: 1.65;
      letter-spacing: -0.003em;
    }
  }
}
