@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
  font-weight: 900;
  font-display: swap;
}

$font-main: "Pretendard", sans-serif;
$font-weight-medium: 500;

// TITLE
// 약 33.5px max
@mixin title {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.8vw;
}

@mixin title2 {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.979vw;
}

// H1
// 약 26px max
@mixin h1 {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.4vw;
}

// H2
// 약 23px max
@mixin h2 {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1.2vw;
}

// 본문
// 약 20px max
@mixin body {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 1vw;
  letter-spacing: -0.005em;
}

// SUB
// 약 17px max
@mixin sub {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 0.9vw;
}

@mixin bodyText {
  font-size: 1.04vw;
  font-family: "Pretendard";
}

@mixin infoText {
  font-size: 0.73vw;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.03em;
  line-height: 1.35;
}

$blue: #0051ff;
$chewy-ease: cubic-bezier(0.34, 1.3, 0.64, 1);

.keywords {
  width: 87.38vw;
  height: 100vh;
  margin: 0 auto;
  color: #fff;
  box-sizing: border-box;

  .graphics {
    position: relative;
    margin: 0 5.5vw;
    z-index: 0;

    .c1,
    .l1,
    .r1,
    .l2,
    .l3 {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
    }

    .c2,
    .c3,
    .l2,
    .l3,
    .r2,
    .r3 {
      opacity: 0;
    }
  }

  .graphics > * {
    position: absolute;
    flex-shrink: 0;
  }

  &:not(.in-view) .graphics {
    .c1,
    .circle,
    .l1,
    .line,
    .r1,
    .rectangle,
    .c2,
    .c3,
    .l2,
    .l3,
    .r2,
    .r3 {
      animation: none;
    }
  }

  &.in-view {
    .graphics {
      .c1 {
        animation: c1-draw 1s ease-in-out forwards;
      }
      .circle {
      animation: c1-move 2s $chewy-ease forwards;
    }
    .l1 {
      animation: l1-draw 1s ease-in-out forwards;
    }
    .line {
      animation: l1-move 1s $chewy-ease forwards;
    }
    .r1 {
      animation: r1-draw 1s ease-in-out forwards;
    }
    .rectangle {
      animation: r1-move 2s $chewy-ease forwards;
    }
    .c2 {
      animation: c2-anim 1s $chewy-ease 1s forwards;
    }
    .c3 {
      animation: c3-anim 1s $chewy-ease 1.2s forwards;
    }
    .l2 {
      animation: l2-anim 1s $chewy-ease 1s forwards;
    }
    .l3 {
      animation: l3-anim 1s $chewy-ease 1.2s forwards;
    }
    .r2 {
      animation: r2-anim 1s $chewy-ease 1s forwards;
    }
    .r3 {
      animation: r3-anim 1s $chewy-ease 1.2s forwards;
    }
  }
}

  .circle {
  width: 22.86vw;
  height: auto;
  top: 21.7vh;
  left: -2.8vw;
  overflow: visible;
}

  .line {
  width: 48.28vw;
  height: auto;
  top: 26.7vh;
  left: 51.1%;
  transform: translateX(-50%);
  overflow: visible;
}

  .rectangle {
  width: 18.28vw;
  height: auto;
  top: 43vh;
  right: -3vw;
  overflow: visible;
}

  .txt {
  display: flex;
  justify-content: space-between;
  padding-top: 82.3vh;

  .delight {
    @include h2;
    letter-spacing: -0.06em;
    line-height: 1.2;
  }

  .logo {
    padding-top: 1.78vh;
    svg {
      width: 20.78vw;
    }
  }

  p {
    @include body;
    margin-top: 1.24vh;
    padding-right: 0.2vw;
    line-height: 1.7;
  }
}



@keyframes c1-draw {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes l1-draw {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes r1-draw {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes c1-move {
  0% {
    transform: translate(18.5vw, 4.98vh) rotate(-90deg);
    opacity: 0;
  }
  50% {
    transform: translate(18.5vw, 4.98vh) rotate(-90deg);
    opacity: 1;
  }
  100% {
    transform: translate(-1.5vw, 4.98vh) rotate(-90deg);
    opacity: 1;
  }
}

@keyframes l1-move {
  0% {
    transform: translate(-24vw, 0) scale(1.2);
    opacity: 0;
  }
  100% {
    transform: translate(-24vw, 0) scale(1.2);
    opacity: 1;
  }
}

@keyframes r1-move {
  0% {
    transform: translate(-22.7vw, -4.09vh);
    opacity: 0;
  }

  50% {
    transform: translate(-22.7vw, -4.09vh);
    opacity: 1;
  }

  100% {
    transform: translate(-3.5vw, -8.89vh);
    opacity: 1;
  }
}

@keyframes c2-anim {
  0% {
    transform: translate(7.3vw, 7.47vh);
    opacity: 0;
  }
  66% {
    transform: translate(7.3vw, 7.47vh);
    opacity: 0;
  }
  100% {
    transform: translate(8.5vw, 0.18vh);
    opacity: 1;
  }
}

@keyframes c3-anim {
  0% {
    transform: translate(5.5vw, -4.8vh);
    opacity: 0;
  }
  85% {
    transform: translate(5.5vw, -4.8vh);
    opacity: 0;
  }
  100% {
    transform: translate(8.3vw, -10.49vh);
    opacity: 1;
  }
}

@keyframes l2-anim {
  0% {
    transform: translate(0, 0);
    opacity: 0;
    stroke-dashoffset: -1000;
  }
  66% {
    transform: translate(0, 0);
    opacity: 0;
    stroke-dashoffset: -1000;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes l3-anim {
  0% {
    opacity: 0;
    stroke-dashoffset: -1000;
  }
  85% {
    opacity: 0;
    stroke-dashoffset: -1000;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes r2-anim {
  0% {
    transform: translate(3.8vw, 4.62vh);
    opacity: 0;
  }
  66% {
    transform: translate(3.8vw, 4.62vh);
    opacity: 0;
  }
  100% {
    transform: translate(7.8vw, 9.42vh);
    opacity: 1;
  }
}

@keyframes r3-anim {
  0% {
    transform: translate(5.9vw, -0.98vh);
    opacity: 0;
  }
  85% {
    transform: translate(5.9vw, -0.98vh);
    opacity: 0;
  }
  100% {
    transform: translate(3.8vw, 4.44vh);
    opacity: 1;
  }
}
}



