.video {
  position: relative;
  width: 100vw;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .video__player {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

