@use "./variable";

*{
      &::-webkit-scrollbar{
  display:none;
  margin: 0;
}
}


.BehindPage{
    display: flex;
    padding:variable.$fs-60-vw ;
    justify-content: end;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 100vh;
    



    .videoPlaceHolder{
        position: fixed;
        left: 0;
        top: 0;
        width:100%;
        height: 100vh;
        overflow: hidden;
        video{
            position: absolute;
            bottom: 0;
        }
    }
    .leftLogoBox{
        position: fixed;
        left:variable.$fs-60-vw;
        bottom: calc(variable.$fs-40-vh + 10px) ;
        display: flex;
        flex-direction: column;
        gap:27px ;
        width: 18vw;
        height: fit-content;
        color:#E1E1E1 ;
        z-index: 5;

        >p{
            font-size: variable.$fs-20-vw;
            font-weight: 500;
            line-height: 160%; /* 32px */
            letter-spacing: -0.04em;
            opacity: 0.8;
        }
        svg{
             z-index: 5;
        }
    }
    .nameListBox{
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: variable.$fs-50-vh;
        color: white;

    .CreditBox{
        display: flex;
        flex-direction: column;
        gap: variable.$fs-30-vh;
        font-size: variable.$fs-20-vw;
        width: fit-content;
        .title{
            font-weight: 600;
            line-height: 160%; /* 32px */
            letter-spacing: -0.04em;
            min-height:variable.$fs-32-vw ;
        }
        .middleLine{
            width: 100%;
            height: 1px;
            background-color: white;
        }
        .listBox{
            display: flex;
            

            .teamName{
                min-width: 10vw;
                font-size: variable.$fs-19-vw;
                letter-spacing: -0.03em;
            }

            .nameGrid{
                display: grid;
                grid-row-gap:10px;
                font-weight: 300;
                grid-column-gap: 15px;
                grid-template-columns: repeat(6, 1fr);
                font-size: variable.$fs-19-vw;
                letter-spacing: -0.03em;
                
                &.Professor{
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }
    }
    }
    
}

.ScrollPlzBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: fit-content;
      min-height: 40px;
      gap: 10px;
      > svg {
        min-height: 20px;
        animation: floatDownHint 1.6s ease-in-out infinite both;
      }
    }

.sec{
    position: relative;
    display: flex;
    gap: variable.$fs-85-vw;
    &.A{
        margin-bottom: calc(variable.$fs-200-vh + variable.$fs-50-vh) ;
    }

    &.C, &.E, &.G{
        justify-content: flex-end;
    }

    &.G, &.H, &.I{
        margin-top:calc(variable.$fs-200-vh + variable.$fs-50-vh);
    }

    &.I{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;

    }
}

@keyframes floatDownHint {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}