@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

@mixin footerText {
  font-family: "Pretendard";
  font-size: 0.83vw;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.04rem;
  line-height: 1.5;
}

.footer {
  width: 93.75vw;
  margin: 0 auto;
  background: #000;
  @include footerText;
  border-top: 0.05vw solid rgba(225, 225, 225, 0.5);
  padding: 4.5vh 0.94vw 5vh 0.57vw;
  box-sizing: border-box;


  .content {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3.6vw;

    .logo {
      padding-left: 0.52vw;
      width: fit-content;
      svg {
      width: 13.28vw;
      height: auto;
      display: block;
    }
    }
  }

  .center {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: -0.75vh;

    .address {
      display: flex;
      flex-direction: column;
      gap: 0vw;
      letter-spacing: -0.01vw;
      color: rgba(225, 225, 225, 0.88);

      span:last-child {
        color: rgba(225, 225, 225, 0.7);
      }
    }

    .copyright {
      padding-top: 2.95vh;
      color: rgba(225, 225, 225, 0.6);
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vh;
    padding-top: 2.6vh;
    padding-left: 7vw;

    .social {
      display: flex;
      justify-content: flex-end;
      gap: 1.35vw;
      padding-right: 5.85vw;

      svg {
        width: 1.875vw;
      }

      .link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: transform 0.2s ease;
      }

      .link:hover,
      .link:focus-visible {
        transform: translateY(-0.13vw);
      }
    }
  }

  .contact {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.6vh 5vw;
    color: rgba(225, 225, 225, 0.85);

    dt {
      color: rgba(225, 225, 225, 0.65);
    }

    dd {
      margin: 0;
      letter-spacing: -0.01vw;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}