@use "./variable";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  > button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
  }

  &::-webkit-scrollbar{
  display:none;
}

}
a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.NavBox{
  &.fadeOut{
    animation:fadeOut .5s forwards ease-in-out;
  }
  &.fadeIn{
    animation:fadeIn .5s forwards ease-in-out;
  }
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
}

a[disabled],
a[aria-disabled="true"] {
  pointer-events: none;
  opacity: 0.5;
}

.background {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%; // Added
  height: 50%; // Added
  pointer-events: none;
}

.borderBox {
  pointer-events: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.7vw;
  padding-left: 0.9vw;
  padding-right: 0.9vw;
  background-color: #000;
  .Button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 18px;
    width: 250px;
    padding: 0 0.6vw;
    padding-right: 0;
  }

  &.system {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: fit-content;
    animation: fadeInLeft 0.9s 1.1s forwards ease-in-out;
    opacity: 0;
    width:13.35vw;
  }
}

.objectControl {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  animation: slideDown 1s forwards cubic-bezier(0.42, 0, 0.43, 1.54);

  &.off {

    pointer-events: none;
  }
}

.ControlBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 132px;
  opacity: 0;
  gap: 12px;
  animation: fadeInLeft 0.9s 1.1s forwards ease-in-out;
  .name {
    font-size: variable.$fs-19-vw;
    opacity: 0.6;
    font-weight: 400;
    letter-spacing: -0.38px;
  }
  .middleLine {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.6;
  }
  .shapeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: 1px solid #242424;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 14.69vw;           // clamp(200px, 14.69vw, 282px)
    aspect-ratio: 282/245;
    background: #000;
    padding: 8px;
    > div {
      cursor: pointer;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 13px;
      font-size: variable.$fs-19-vw;

      transition: all 0.3s ease-in-out;
      background-color: #000;

      &.active {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      .line,
      .lineBot {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:nth-child(odd) {
        .line {
          height: calc(100% - 7px);
          width: 1px;
          right: -0.5px;
          top: 0;

          &.right {
            top: auto;
            bottom: 0;
          }
        }
        .lineBot {
          height: 1px;
          width: calc(100% - 14px);
          left: 50%;
          top: -0.5px;
          transform: translateX(-50%);
        }
      }

      &:nth-child(even) {
        .line {
          height: 1px;
          width: calc(100% - 14px);
          left: 50%;
          top: -0.5px;
          transform: translateX(-50%);
        }
      }

      .Icon {
        align-self: self-end;
      }

      .CUSTOMtextLine {
        display: flex;
        align-items: center;
        gap: 10px;
        svg{
          width:0.7vw;
        }
      }
    }
  }

  .objectSelectList {
    display: flex;
    gap: 16px;

    > div {
      cursor: pointer;
    }
  }

  .Property {
    font-size: variable.$fs-40-vw;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.8px;
  }
}

.introBg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-height: 900px;
  padding-top: 16%;

  .goPivotHero {
    display: flex;
    flex-direction: column;
    height: fit-content;

    align-items: center;
    justify-content: start;
    width: 100%;
    height: 60%;
    min-height: 500px;

    .titleBox {
      display: flex;
      flex-direction: column;
      gap: 3.7vh;         // clamp(30px, 3.7vh, 40px)
      align-items: center;
      > p {
        @include variable.fs-vw(20);
        color: white;
        letter-spacing: -0.6px;
      }
      
      &.slideUp{
        animation: slideUp 0.9s 0s forwards ease-in-out;
      }


      >svg{
        width: 30vw;
      }
    }
  }
  .samplePivotPlace {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 50vh;

    > svg {
      position: absolute;
      left: 50%;
      top: 50%;
      &.A {
        width: 18vw;
        height: 18vw;
        transform: translate(-58vw, -40%);
        animation: float-A 4.2s ease-in-out infinite;
        &.slideUp{
          animation: slideUpA 0.8s 0.1s ease-in-out forwards;
        }
      }
      &.B {
        transform: translate(-40vw, -60%);
          width: 21vw;
        height: 21vw;
        animation: float-B 3.8s ease-in-out infinite;
        
                &.slideUp{
          animation:slideUpB 0.8s 0.05s ease-in-out forwards;
        }
      }
      &.C {
        transform: translate(19vw, -40%);
          width: 25vw;
        height: 25vw;
        animation: float-C 3.5s ease-in-out infinite;
                &.slideUp{
          animation: slideUpC  0.8s 0.05s ease-in-out forwards;
        }
      }
      &.D {
        transform: translate(41vw, -55%);
          width: 20vw;
        height: 20vw;
        animation: float-D 4s ease-in-out infinite;
                &.slideUp{
          animation: slideUpD  0.8s 0.1s ease-in-out forwards;
        }
      }

      &.bg {
        left: 0;
        bottom: 0;
      }
    }
  }
}

.infoFade{
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);
  width: 100%;
  height:7vh;



}
  .fadeOut{
    animation: fadeOut .5s ease-out forwards;
  }

.makePivot {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: relative;
  padding: 68px 0px;
  padding-top: 3vh;
  overflow: hidden;


  &.Transition{
    .topBar{
      animation: fadeOut .5s ease-out forwards;
    }

    .PivotInfoPlaceHolder{
      animation: fadeOut .5s 0.2s ease-out forwards;
    }
  }
}



.startBtn {
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  color: black;
  background-color: white;
  margin-top: 6vw;        // clamp(65px, 8.33vh, 90px)
  padding: 10px;
  padding-top: 12px;

  width: 14.69vw;            // clamp(200px, 14.69vw, 282px)

  padding-top: 9px;
  @include variable.fs-vw(20);

  cursor: pointer;
  z-index: 10;

  &.goArchive {
    border: rgba(255, 255, 255, 0.5) 1px solid;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 10px;
    font-weight: 300;
    background-color: rgba(19, 14, 14, 0.2);
    display: flex;
    justify-content: center;
  }

  &.fadeOut {
    animation: fadeOut .5s forwards ease-out;
  }
}

.backBtn {
  display: flex;
  align-items: center;
  gap: variable.$fs-17-vw;
  font-size: variable.$fs-18-vw;
  color: #ffffff;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn .5s .3s forwards ease-out;
}

.topBar {
  position: relative;
  z-index: 100;
  width: 93.85vw;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  animation: fadeIn .9s 0.5s forwards ease-out;

  .max-3 {
    font-size: variable.$fs-17-vw;
    opacity: 0.6;
  }

  .addPivotSlots {
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: end;
    gap: variable.$fs-17-vh;
    margin-top: 20px;

    height: 6.76vh;          // clamp(50px, 6.76vh, 73px)

    .addListPlaceHolder {
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: end;
      height: 3.24vh;        // clamp(28px, 3.24vh, 35px)
    }
    .topRight {
      display: flex;
      flex-direction: column;
    }

    .PivotLength {
      display: flex;
      width: fit-content;
      .LengthCard {
        display: flex;
        align-items: center;
        width: fit-content;
        height: 3.24vh;      // clamp(28px, 3.24vh, 35px)
        padding: 5px 25px;

        box-shadow: inset 0 0 0 1px #ffffff;
        font-size: 0.8vw;

        &.selected {
          background-color: #ffffff;
          color: black;
        }

        .text {
          margin: 0 0;
        }
      }
    }
    .BtnList {
      display: flex;
      aspect-ratio: 2/1;
      height: 100%;
      .Btn {
        position: relative;
        aspect-ratio: 1/1;
        height: 100%;
        cursor: pointer;
        box-shadow: inset 0 0 0 1px #ffffff;
        .line {
          background-color: white;
          position: absolute;

          &.A {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 1.5px;
          }

          &.B {
            width: 1.5px;
            height: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.PivotInfoPlaceHolder {
  pointer-events: none;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 93.85vw;
  height: 80vh;

  .leftLine {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .mouseBox {
      // margin-top: 10vh;
      position: relative;
      z-index: 100;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 15px;
      opacity: 0;
      background-color: #000000;
      border: 1px solid rgba(255, 255, 255, 0.2);
      width: fit-content;
      animation: fadeInLeft 0.9s 1.1s forwards ease-in-out;
      .mouseInteraction {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.8vw;
        width: 100%;
        padding: 0 0.8vw;

        &.space{
          height: 2vw;
          width: 100%;
          .spaceBox{
            width: 65%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: rgba(255, 255, 255, 0.5) solid 1px;
            border-radius: 0.2vw;
            padding: 0.2vw 1.2vw;

          }
        }

        .svgPlaceHolder {
          aspect-ratio: 1/1;
          height: 100%;
        }
        > svg {
          transform: scale(0.8);
        }
        .text {
          font-size: variable.$fs-15-vw;
          font-weight: 500;
          letter-spacing: -0.03em;
          justify-self: end;
          white-space: nowrap;
          > span {
            padding: 6px 12px;
            margin-right: 10px;
            border: rgba(255, 255, 255, 0.5) solid 1px;
            border-radius: 0.2vw;
          }
        }
      }
      .middleLine {
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    .leftBottom {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 6.48vh;          // clamp(50px, 6.48vh, 70px)
      z-index: 100;
      opacity: 0;
      
animation: fadeInLeft 0.9s 1.1s forwards ease-in-out;
    }

    .NameInput {
      position: relative;
      z-index: 100;
      display: flex;
      align-items: end;
      pointer-events: auto;opacity: 0;


      animation: fadeInLeft 0.9s 1.1s forwards ease-in-out;
      .Input {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 2.5vw;   // clamp(32px, 2.5vw, 48px)
        font-weight: 400;
        border-bottom: #ffffff solid 1px;
        color: #ffffff;
        width: fit-content;
        max-width: 250px;

        line-height: 110%;
        letter-spacing: -0.0201666em;
        &::placeholder {
          color: white;
          opacity: 0.2;
          transition: opacity 0.15s ease-in-out;
        }
        &:focus,
        &:focus-visible {
          outline: none;
          border: none;
          border-bottom: variable.$color-blue solid 1px;
        }
      }

      .whoIsMaker {
        margin-bottom: -5px;
        font-size: variable.$fs-18-vw;
        opacity: 0.3;
        letter-spacing: 0.020833vw;
      }
    }

    .ControlBoxList {
      display: flex;
      gap: 14px;
    }
  }

  .rightLine {
    
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 6.48vh;    // clamp(50px, 6.48vh, 70px)
    .startBtn {
      pointer-events: auto;
      margin-top: 11.11vh;  // clamp(90px, 11.11vh, 120px)
      width: 14.69vw;       // clamp(200px, 14.69vw, 282px)
      opacity: 0;
      animation: fadeInRight 0.9s 1.1s forwards ease-in-out;
    }

    .ControlBox{
      pointer-events: auto;
      animation: fadeInRight 0.9s 1.1s forwards ease-in-out;
    }

    .modeToggle {
      width: 14.69vw;       // clamp(200px, 14.69vw, 282px)
      margin-bottom: 3.5vh; // clamp(38px, 3.5vh, 50px)
      > div {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 3.5vh;      // clamp(38px, 3.5vh, 50px)
        width: 100%;
        padding: 8px;
        transition: all 0.3s ease-in-out;
        font-size: variable.$fs-18-vw;
        &.line {
          height: 100%;
          width: 1px;
          padding: 0;
          background-color: rgba(255, 255, 255, 0.2);
        }

        &.active {
          background-color: rgba(#e1e1e1, 0.2);
        }
        &:hover {
          background-color: rgba(#e1e1e1, 0.1);
        }
      }
    }

    .Button.active {
      svg {
        circle,
        rect {
          fill: white;
          stroke: black;
        }
        circle[fill="white"] {
          fill: white;
        }
      }
    }
  }
}

.rightBotBox {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 22px;
  z-index: 100;
}

.doneBg {
  width: 100vw;
  height: 100vh;
  padding-top: 3vw;
  padding-left: 3vw;

  .infoBox{
    position: absolute;
    bottom: 0.5vh;
    opacity: 0;
      animation: fadeIn .5s 0.5s forwards ease-out;
  }

  .done {
    left: 20%;
    transform: translateX(-30%);
  }

  .goPivotDone {
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translate(-50%, -50%);
    white-space: pre-wrap;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    width: fit-content;
    opacity: 0;
      animation: fadeIn .5s 0.3s forwards ease-out;

    .ResultContainer {
      display: flex;
      flex-direction: column;
      gap: 90px;

      .TitleText {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .MakersPivot {
        font-size: 3.75vw;  // clamp(50px, 3.75vw, 72px)
        line-height: 110%;
        letter-spacing: -2.16px;
        text-align: start;
      }
      .Result {
        text-align: start;
        line-height: 165%;
        font-weight: 500;
        font-size: variable.$fs-20-vw;
      }
    }
    .buttonList {
      margin-top:3vw;
      display: flex;
      position: relative;

      .btn {
        cursor: pointer;
        padding: 8.72px;
        width: 198.737px;
        height: fit-content;
        font-size: variable.$fs-20-vw;
        border: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.3s ease-in-out;
        font-weight: 400;
        letter-spacing: -0.03em;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
    .eventCard {
      position: absolute;
      top: 250%;
      font-size: variable.$fs-18-vw;
      line-height: 145%;
      letter-spacing: -0.45px;
      width: fit-content;
      padding: 15px 35px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10;
      text-align: start;
      animation: fadeIn 0.5s 1s forwards;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;

      &.off{
        animation: fadeOut 0.5s 1s forwards;
      }
      

      > svg {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 15px;
      }

      .Triangle {
        position: absolute;
        bottom: 100%;
        left: 20%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 0px 0px 25px;
        border-color: transparent transparent transparent
          rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);

  .bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .modal-content {
    padding: 30px;
    aspect-ratio: 1140/720;
    width: 60%;
    background-color: #000;
    color: #ffffff;
    border: rgba(255, 255, 255, 0.2) solid 1px;
    .modal-top-bar{
      display: flex;
      justify-content: space-between;
      width: 100%;
   

      .title{
        font-size: variable.$fs-21-vw;
        opacity: 0.8;
      }
    }
  }


}





@keyframes slideDown{
  from{
    transform: translate(0%, -100%);
  }
    to{
    transform: translate(0%, 0%);
  }
}

@keyframes fadeInLeft{
  from{
    opacity: 0;
    transform: translate(-10%, 0%);
  }
  to{
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes fadeInRight{
  from{
    opacity: 0;
    transform: translate(10%, 0%);
  }
  to{
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


@keyframes slideUp{
  from{
    transform: translate(-0,0%)
  }
  to{
    transform: translate(-0,-100vh)
  }
}

@keyframes slideUpA{
  from{
    transform: translate(-58vw,-40%)
  }
  to{
    transform: translate(-58vw,-100vh)
  }
}
@keyframes slideUpB{
  from{
    transform: translate(-40vw,-60%)
  }
  to{
    transform: translate(-40vw,-100vh)
  }
}
@keyframes slideUpC{
  from{
    transform: translate(19vw,-60%)
  }
  to{
    transform: translate(19vw,-100vh)
  }
}

@keyframes slideUpD{
  from{
    transform: translate(41vw,-55%)
  }
  to{
    transform: translate(41vw,-100vh)
  }
}

@keyframes float-A {
  0%,
  100% {
    top: 50%;
  }
  50% {
    top: calc(50% - 10px);
  }
}

@keyframes float-B {
  0%,
  100% {
    top: 50%;
  }
  50% {
    top: calc(50% - 10px);
  }
}

@keyframes float-C {
  0%,
  100% {
    top: 50%;
  }
  50% {
    top: calc(50% - 10px);
  }
}

@keyframes float-D {
  0%,
  100% {
    top: 50%;
  }
  50% {
    top: calc(50% - 10px);
  }
}
