@use "./globals.scss";

.archive-page {
  width: 100%;
  min-height: 100vh;
  height: 100vh;

  color: #ccc;
  
  font-family: "Pretendard", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      ::-webkit-scrollbar {
  display: none;
}

.infoBox{
  position: fixed;
  bottom: 0;
}

  h1 {
    color: #fff;
    font-size: 32px;
    letter-spacing: -0.5px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .subtitle {
    color: #aaa;
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
  }

  a.link {
    color: #9ef;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 60px;
    transition: opacity 0.2s ease;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  .archive-gallery-row {
    display: flex;
    flex-direction: row; // Arrange items horizontally
    overflow-x: auto; // Enable horizontal scrolling for each row
    overflow-y: hidden; // Hide vertical overflow within the row
    padding-bottom: 20px; // For scrollbar
    gap: 30vw; // Gap between cards in a row
    flex-shrink: 0; // Prevent rows from shrinking
    height: 100vh; // Adjusted height for a single row (approx 2 * old height + gap)
    align-items: center; // Align cards to the start of the row
    width: 100%; // Ensure it takes full width
    padding-left: 30vw;


  }

  .archive-card {
    position: relative; // Added for overlay positioning
    width: calc(33.33vh - 14px); // Three columns with adjusted gap
    height: calc(33.33vh - 14px); // Explicitly set height
    flex-shrink: 0; // Added to prevent shrinking
    aspect-ratio: 1/1; // Maintain aspect ratio for animation
    // background: #000;
    border-radius: 2px;
   // overflow: hidden; // Removed to allow objects outside card boundaries
    
    .info-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; // Semi-transparent overlay
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      color: #fff;
      text-align: center;
      transition: opacity 0.3s ease;
      pointer-events: none; // Allow mouse events to pass through when not hovered
      
      .card-title {
        color: #fff;
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: 10px;
      }

      .card-tag {
        color: #9ef;
        font-size: 0.9em;
        margin-bottom: 5px;
      }


    }
  }
}


.gpArchiveInfoBox{
  position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 11px;
        font-size: globals.$fs-20-vw;
        font-weight: 400;
        letter-spacing: -0.6px;
        transition: opacity 0.5s ease-in-out;
        .tagBox{
          padding: 6px 12px;
          border: rgba($color: #ffffff, $alpha: 0.4) solid 1px;
          background-color: black;
        }
        >svg {
          margin-bottom: -81px;
        }
      }