@use "./variable";

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
  appearance: none; /* 브라우저 기본 외형 제거 */
}

.GuestBook{
  padding-top: 25vh;
  padding-bottom: 40vh; 
  padding-left: 3.1vw;
  padding-right: 3.1vw;
  display: flex;
  flex-direction: column;
  height: fit-content;

  .addMassageContainer {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    display: flex;

    justify-content: space-between;

    .title {
      font-size: variable.$fs-28-vw;
      color: #ffffff;
      letter-spacing: -0.03em;
      line-height: 160%;
    }

    .messageContainer {
      display: flex;
      flex-direction: column;
      gap: variable.$fs-40-vh;
      height: 100%;
      width: 58%;
      // padding-top: variable.$fs-15-vh;

      .submitBtn {
        padding: 15px 22px;
        font-size: variable.$fs-20-vw;
        font-weight: 500;
        cursor: pointer;

        background-color: #e1e1e1;
        color: black;
        opacity: 0.3;
        
        
        &.off{
            pointer-events: none;
            opacity: 0.3;
            background-color: #e1e1e1;
            color: black;
        }

        &.on{
             pointer-events: auto;
             opacity: 1;


             &:hover{
                background-color: #0051ff;
                color: #ffffff;
             }
        }
      }
      .textareaContainer {
        position: relative;
        width: 100%;
     
        aspect-ratio: 1197/387;
        padding: 1.5vw;
        > textarea {
          resize: none;
          width: 100%;
          height: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          font-size: variable.$fs-18-vw;
          color: #ffffff;
          letter-spacing: -0.03em;
          

        }
        .maxLength{
            position: absolute;
            right: 1vw;
            bottom: 1vw;
            margin: 0;
            padding: 0;
            color: #e1e1e1;
            opacity: 0.5;
          }

        .lengthLine {
          position: absolute;
          display: flex;
          align-items: center;

          top: 50%;
          transform: translateY(-50%);
          height: 100%;
          width: 1px;
          padding-top: 0.6vw;
          padding-bottom: 0.6vw;
          &.left {
            left: 0px;
          }
          &.right {
            right: 0px;
          }

          > div {
            background-color: #e1e1e1;
            height: calc(100%);
            width: 100%;
          }
        }

        .TransverseLine {
          position: absolute;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 1px;
          left: 50%;
          transform: translateX(-50%);

          &.top {
            top: 0px;
          }

          &.bottom {
            bottom: 0px;
          }
          > div {
            background-color: #e1e1e1;
            width: calc(100% - 22px);
            height: 100%;
          }
        }
      }
      .nameInputBox {
        display: flex;
        gap: variable.$fs-20-vw;

        > div {
          width: 32%;
          min-width: 250px;
          display: flex;
          gap: 10px;
          font-size: variable.$fs-20-vw;
          padding: 0.9vw 1.5vw;
          border: #ffffff solid 1px;
          color: #ffffff;

          font-weight: 500;

          > input {
            background-color: transparent;
            outline: none;
            border: none;
            letter-spacing: -0.03em;
            font-size: variable.$fs-20-vw;
            color: #ffffff;
            &:focus,
            &:focus-visible {
              outline: none;
              border: none;
            }
          }
        }
      }
    }
  }

  .commentList {
    .columns {
      display: flex;
      justify-content: space-between;
      color: white;
      .column {
        display: flex;
        flex-direction: column;
        gap: variable.$fs-25-vw;
        position: relative;
        width: calc(25% - 15px);
      }
    }
  }
}

.MessageBox {
  display: flex;
  flex-direction: column;
  gap: variable.$fs-25-vh;
  position: relative;
  height: fit-content;
  background-color: rgba(28, 28, 28, 0.5);
  padding: variable.$fs-26-vw variable.$fs-26-vh;

  .toFrom {
    font-size: variable.$fs-20-vw;
    letter-spacing: -2%;
    // line-height: 160%;
    &.right {
      align-self: flex-end;
    }
  }

  .messageText {
    font-size: variable.$fs-18-vw;
    line-height: 160%;
    letter-spacing: -2%;
  }

  .lengthLine {
    position: absolute;
    display: flex;
    align-items: center;

    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    &.left {
      left: -1px;
    }
    &.right {
      right: -1px;
    }

    > div {
      background-color: #e1e1e1;
      height: calc(100%);
      width: 100%;
    }
  }

  .TransverseLine {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);

    &.top {
      top: -1px;
    }

    &.bottom {
      bottom: -1px;
    }
    > div {
      background-color: #e1e1e1;
      width: calc(100% - 22px);
      height: 100%;
    }
  }
}


@media (max-width: 1024px) {
  .GuestBook {
    flex-direction: column;
    .addMassageContainer {
      flex-direction: column;
      height: fit-content;
      gap: 50px;
      .messageContainer {
        width: 100%;
      }
    }
    .commentList {
      .columns {
        flex-wrap: wrap;
        gap: 20px;
        .column {
          width: calc(50% - 10px);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .GuestBook {
    .commentList {
      .columns {
        .column {
          width: 100%;
        }
      }
    }
  }
}

// --- Animations ---

// 새 댓글 추가 시 나타나는 애니메이션
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.GuestBook {
  .addMassageContainer {
    .messageContainer {
      .nameInputBox,
      .textareaContainer {
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      }

      // 제출 중일 때의 스타일
      &.submitting {
        .nameInputBox,
        .textareaContainer {
          opacity: 0;
          transform: translateY(-20px);
        }
      }
    }
  }

  .commentList {
    .columns {
      .column {
        // 각 열의 새로 추가된 댓글에 애니메이션 적용
        > .MessageBox.newly-added {
          animation: fadeInDown 0.7s ease-out forwards;
        }
      }
    }
  }
}
