.loadingVideoBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 80;
    .loadingPercentage {
        text-align: center;
        position: absolute;
        color: white;
        z-index: 1000;
        font-size: 1vw;
        font-weight: 600;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
    }



}