@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap");

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-display: swap;
}

.mobile {
  position: relative;
  background-color: #000;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 3.82vh 5.09vw;
  font-family: "Pretendard", sans-serif;
  color: #e1e1e1;
  line-height: 1.35;
  letter-spacing: -0.03em;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    width: 89.82%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .delight {
    font-size: 3.09vw;
    padding-top: 6.5vh;
    text-align: center;
  }

  .logo {
    padding-top: 1.5vh;
    justify-content: center;

    svg {
      width: 76.42vw;
    }
  }

  .object {
    position: absolute;
    width: 100vw;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .countDown {
    position: absolute;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Stack Sans Notch", "Pretendard", sans-serif;
    font-size: 5.34vw;
    font-weight: 500;
    text-align: center;
    bottom: 13vh;
  }

  .countDown-colon {
    margin-left: 1vw;
  }

  .info {
    position: absolute;
    height: 92.36%;
    margin: auto 5.09vw;
    display: block;
    font-size: 2.04vw;
    line-height: 1.4;
    letter-spacing: 0;
    color: rgba(225, 225, 225, 0.3);

    p {
      position: absolute;
      margin: 0;
      width: 100vw;
    }

    p:first-child {
      top: 1vh;
      left: 1.5vw;
      text-align: left;
    }

    p:nth-child(2) {
      bottom: 1vh;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-left: 0;
    }

    p:last-child {
      top: 1vh;
      right: 1.5vw;
      text-align: right;
    }
  }
}

