.studentsList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6vh 1.6vw;
  min-height: 50vh;
}

.Students {
  width: 100%;
  padding-top: 30vh;                // clamp(200px, 40vh, 240px)
  padding-left: 3.1vw;              // clamp(1.75rem, 3.1vw, 3.75rem)
  padding-right: 3.1vw;             // clamp(1.75rem, 3.1vw, 3.75rem)
  padding-bottom: 40vh;             // clamp(200px, 40vh, 240px)
  display: flex;
  flex-direction: column;
  gap: 9vh;

  .notFind {
    color: #ffffff;
    letter-spacing: -0.04em;
  }

  .sortingSection {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;

    .searchBox {
      width: 17.7vw;               // clamp(200px, 17.7vw, 360px)
      height: fit-content;
      display: flex;
      justify-content: space-between;
      border-bottom: #ffffff solid 1px;
      padding-bottom: 15px;
    }

    .searchInput {
      position: relative;
      width: 100%;
      margin-left: -1px;
      color: #ffffff;
      background-color: transparent;
      outline: none;
      border: none;
      font-size: 0.8vw;
      letter-spacing: -0.04em;

      &::placeholder {
        color: #ffffff;
        opacity: 1;
        transition: opacity 0.15s ease-in-out;
        font-weight: 400;
      }

      &::-webkit-input-placeholder {
        color: #ffffff;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: #ffffff;
        opacity: 1;
      }
      &:-ms-input-placeholder {
        color: #ffffff;
        opacity: 1;
      }
      &:-moz-placeholder {
        color: #ffffff;
        opacity: 1;
      }

      &:focus,
      &:focus-visible {
        outline: none;
        border: none;

        &::placeholder {
          color: #ffffff;
          opacity: 0;
          transition: opacity 0.15s ease-in-out;
        }
      }
    }

    .sortingBar {
      display: flex;
      font-size: 1.15vw;           // clamp(14px, 1.15vw, 22px)
      font-style: normal;
      font-weight: 500;
      line-height: 132%; /* 29.04px */
      letter-spacing: -0.04em;
      gap: 22px;

      > div {
        color: #8e8e8e;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        &:hover {
          color: #ffffff;
        }

        &.active {
          color: #ffffff;
        }
      }
    }
  }

  @keyframes cardAddRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .DecorationPivot {
    position: absolute;
  }

  .StudentCard {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 2.31vh;                    // clamp(1rem, 2.31vh, 1.5625rem)
    cursor: pointer;
    opacity: 0;
    animation: cardAddRight 0.5s ease-out forwards;
    animation-delay: var(--animation-delay);
    z-index: 10;

    .DecorationPivot {
      z-index: 1;
      pointer-events: none;
      width: 100%;
      height: 100%;

      >div{
        width: 100%;
        height: 100%;
      }

      svg {
        z-index: 1;
        width: 20vw;
        &.rect{
          width: 30vw;
        }
      }
    }

    &.empty {
      position: relative;
      opacity: 0;
      cursor: default;
      z-index: 1;

      > p {
        opacity: 0;
      }
    }

    .ImgPlaceHolder {
      overflow: hidden;
      position: relative;
      z-index: 10;

      &.Profile {
        width: 100%;
        aspect-ratio: 337 / 481;

        img {
          transition: transform 0.3s ease-in-out;
          transform: scale(1);
        }
      }
    }

    .textBox {
      display: flex;
      flex-direction: column;
      gap: 1vh;                  

      .name {
        font-weight: 600;
        line-height: 132%; 
        letter-spacing: -0.05em;
        font-size: 1.35vw;          
      }

      .info{
        letter-spacing: -0.05em;
        font-size: 0.9vw;  
        font-weight: 400;
      }
    }

    &:hover {
      .ImgPlaceHolder.Profile img {
        transform: scale(1.1);
      }
    }
  }
}

.LineSvg {
  animation: spin 25s linear infinite;
  transform-origin: center center;
}

.RectSvg {
  animation: reverseSpin 25s linear infinite;
  transform-origin: center center;
}

.CircleSvg {
  animation: bob 4s ease-in-out infinite;
  transform-origin: center center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverseSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
