
// ---------------------------------------------------------
// Viewport baseline: 1920 × 1080
// font-size responsive clamp variables (vw / vh versions)
// min ~= 80% of target px (rounded); max = target px
// ---------------------------------------------------------

$color-blue : #0051FF;
$color-lightGray:#E1E1E1;
$color-darkGray:#313131;

// 13px ~ 25px
$fs-13-vw: 0.68vw;
$fs-14-vw: 0.73vw;
$fs-15-vw: 0.78vw;
$fs-16-vw: 0.83vw;
$fs-17-vw: 0.89vw;
$fs-18-vw: 0.94vw;
$fs-19-vw: 0.99vw;
$fs-20-vw: 1.04vw;
$fs-21-vw: 1.09vw;
$fs-22-vw: 1.15vw;
$fs-23-vw: 1.20vw;
$fs-24-vw: 1.25vw;
$fs-25-vw: 1.30vw;
$fs-26-vw: 1.35vw;
$fs-27-vw: 1.41vw;
$fs-28-vw: 1.46vw;
$fs-29-vw: 1.51vw;
$fs-30-vw: 1.56vw;


$fs-13-vh: 1.2vh;
$fs-14-vh: 1.3vh;
$fs-15-vh: 1.39vh;
$fs-16-vh: 1.48vh;
$fs-17-vh: 1.57vh;
$fs-18-vh: 1.67vh;
$fs-19-vh: 1.76vh;
$fs-20-vh: 1.85vh;
$fs-21-vh: 1.94vh;
$fs-22-vh: 2.04vh;
$fs-23-vh: 2.13vh;
$fs-24-vh: 2.22vh;
$fs-25-vh: 2.31vh;
$fs-26-vh: 2.41vh;
$fs-27-vh: 2.50vh;
$fs-28-vh: 2.59vh;
$fs-29-vh: 2.69vh;
$fs-30-vh: 2.78vh;

// 30px ~ 40px
$fs-30-vw: 1.56vw;
$fs-31-vw: 1.61vw;
$fs-32-vw: 1.67vw;
$fs-33-vw: 1.72vw;
$fs-34-vw: 1.77vw;
$fs-35-vw: 1.82vw;
$fs-36-vw: 1.88vw;
$fs-37-vw: 1.93vw;
$fs-38-vw: 1.98vw;
$fs-39-vw: 2.03vw;
$fs-40-vw: 2.08vw;
$fs-85-vw:4.43vw;
$fs-50-vw: 2.60vw;
$fs-51-vw: 2.66vw;
$fs-52-vw: 2.71vw;
$fs-53-vw: 2.76vw;
$fs-54-vw: 2.81vw;
$fs-55-vw: 2.86vw;
$fs-56-vw: 2.92vw;
$fs-57-vw: 2.97vw;
$fs-58-vw: 3.02vw;
$fs-59-vw: 3.07vw;
$fs-60-vw: 3.13vw;
$fs-61-vw: 3.18vw;
$fs-62-vw: 3.23vw;
$fs-63-vw: 3.28vw;
$fs-64-vw: 3.33vw;
$fs-65-vw: 3.39vw;
$fs-66-vw: 3.44vw;
$fs-67-vw: 3.49vw;
$fs-68-vw: 3.54vw;
$fs-69-vw: 3.59vw;
$fs-70-vw: 3.65vw;
$fs-71-vw: 3.70vw;
$fs-72-vw: 3.75vw;
$fs-73-vw: 3.80vw;
$fs-74-vw: 3.85vw;
$fs-75-vw: 3.91vw;
$fs-76-vw: 3.96vw;
$fs-77-vw: 4.01vw;
$fs-78-vw: 4.06vw;
$fs-79-vw: 4.11vw;
$fs-80-vw: 4.17vw;

// --- vh 기준 ---
$fs-50-vh: 4.63vh;
$fs-51-vh: 4.72vh;
$fs-52-vh: 4.81vh;
$fs-53-vh: 4.91vh;
$fs-54-vh: 5.00vh;
$fs-55-vh: 5.09vh;
$fs-56-vh: 5.19vh;
$fs-57-vh: 5.28vh;
$fs-58-vh: 5.37vh;
$fs-59-vh: 5.46vh;
$fs-60-vh: 5.56vh;
$fs-61-vh: 5.65vh;
$fs-62-vh: 5.74vh;
$fs-63-vh: 5.83vh;
$fs-64-vh: 5.93vh;
$fs-65-vh: 6.02vh;
$fs-66-vh: 6.11vh;
$fs-67-vh: 6.20vh;
$fs-68-vh: 6.30vh;
$fs-69-vh: 6.39vh;
$fs-70-vh: 6.48vh;
$fs-71-vh: 6.57vh;
$fs-72-vh: 6.67vh;
$fs-73-vh: 6.76vh;
$fs-74-vh: 6.85vh;
$fs-75-vh: 6.94vh;
$fs-76-vh: 7.04vh;
$fs-77-vh: 7.13vh;
$fs-78-vh: 7.22vh;
$fs-79-vh: 7.31vh;
$fs-80-vh: 7.41vh;

$fs-150-vw: 7.81vw;
$fs-160-vw: 8.33vw;
$fs-170-vw: 8.85vw;
$fs-180-vw: 9.38vw;
$fs-190-vw: 9.90vw;
$fs-200-vw: 10.42vw;

// vh 기반
$fs-150-vh: 13.89vh;
$fs-160-vh: 14.81vh;
$fs-170-vh: 15.74vh;
$fs-180-vh: 16.67vh;
$fs-190-vh: 17.59vh;
$fs-200-vh: 18.52vh;

$fs-30-vh: 2.78vh;
$fs-31-vh: 2.87vh;
$fs-32-vh: 2.96vh;
$fs-33-vh: 3.06vh;
$fs-34-vh: 3.15vh;
$fs-35-vh: 3.24vh;
$fs-36-vh: 3.33vh;
$fs-37-vh: 3.43vh;
$fs-38-vh: 3.52vh;
$fs-39-vh: 3.61vh;
$fs-40-vh: 3.70vh;

// ---------------------------------------------------------
// Quick helpers (선택사항): VW / VH 버전 쉽게 쓰는 mixin
// ---------------------------------------------------------
@mixin fs-vw($px) {
  font-size: var(--tmp); // fallback 제거용 더미
  @if $px == 13 { font-size: $fs-13-vw; }
  @else if $px == 14 { font-size: $fs-14-vw; }
  @else if $px == 15 { font-size: $fs-15-vw; }
  @else if $px == 16 { font-size: $fs-16-vw; }
  @else if $px == 17 { font-size: $fs-17-vw; }
  @else if $px == 18 { font-size: $fs-18-vw; }
  @else if $px == 19 { font-size: $fs-19-vw; }
  @else if $px == 20 { font-size: $fs-20-vw; }
  @else if $px == 21 { font-size: $fs-21-vw; }
  @else if $px == 22 { font-size: $fs-22-vw; }
  @else if $px == 23 { font-size: $fs-23-vw; }
  @else if $px == 24 { font-size: $fs-24-vw; }
  @else if $px == 25 { font-size: $fs-25-vw; }
  @else if $px == 30 { font-size: $fs-30-vw; }
  @else if $px == 31 { font-size: $fs-31-vw; }
  @else if $px == 32 { font-size: $fs-32-vw; }
  @else if $px == 33 { font-size: $fs-33-vw; }
  @else if $px == 34 { font-size: $fs-34-vw; }
  @else if $px == 35 { font-size: $fs-35-vw; }
  @else if $px == 36 { font-size: $fs-36-vw; }
  @else if $px == 37 { font-size: $fs-37-vw; }
  @else if $px == 38 { font-size: $fs-38-vw; }
  @else if $px == 39 { font-size: $fs-39-vw; }
  @else if $px == 40 { font-size: $fs-40-vw; }
}

@mixin fs-vh($px) {
  font-size: var(--tmp);
  @if $px == 13 { font-size: $fs-13-vh; }
  @else if $px == 14 { font-size: $fs-14-vh; }
  @else if $px == 15 { font-size: $fs-15-vh; }
  @else if $px == 16 { font-size: $fs-16-vh; }
  @else if $px == 17 { font-size: $fs-17-vh; }
  @else if $px == 18 { font-size: $fs-18-vh; }
  @else if $px == 19 { font-size: $fs-19-vh; }
  @else if $px == 20 { font-size: $fs-20-vh; }
  @else if $px == 21 { font-size: $fs-21-vh; }
  @else if $px == 22 { font-size: $fs-22-vh; }
  @else if $px == 23 { font-size: $fs-23-vh; }
  @else if $px == 24 { font-size: $fs-24-vh; }
  @else if $px == 25 { font-size: $fs-25-vh; }
  @else if $px == 30 { font-size: $fs-30-vh; }
  @else if $px == 31 { font-size: $fs-31-vh; }
  @else if $px == 32 { font-size: $fs-32-vh; }
  @else if $px == 33 { font-size: $fs-33-vh; }
  @else if $px == 34 { font-size: $fs-34-vh; }
  @else if $px == 35 { font-size: $fs-35-vh; }
  @else if $px == 36 { font-size: $fs-36-vh; }
  @else if $px == 37 { font-size: $fs-37-vh; }
  @else if $px == 38 { font-size: $fs-38-vh; }
  @else if $px == 39 { font-size: $fs-39-vh; }
  @else if $px == 40 { font-size: $fs-40-vh; }
}
